
html, body {
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #F0F0F0;
}

main {
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-right: 36px;
  width: 400px;
  background-color: white;
  box-shadow: 0px 0px 5px black;
  text-align: center;
}

header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  padding-top: 1.2rem;
  padding-bottom: 0.4rem;
  font-size: 1.6rem;
}

.logo{
  width: 360px;
  padding-top: 1.5em;
  padding-bottom: 0.25em;
  font-size: 4em;
  font-weight: normal;
  background: url(logo.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
}

.construction{
  width: 128px;
  padding-top: 116px;
  font-size: 1.2em;
  font-weight: normal;
  background: url(construction.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
}

#social{
  display: inline;
  text-align: center;
}

.fb-like{
  bottom: 5px;
  padding-right: 4px;
}
.twitter-follow-button{
  padding-left: 4px;
}

/* Color palette as hex codes */

.color-primary-0 { color: #8C938C } /* Main Primary color */
.color-primary-1 { color: #BFC2C0 }
.color-primary-2 { color: #A4A8A4 }
.color-primary-3 { color: #758076 }
.color-primary-4 { color: #5F7060 }

.color-secondary-1-0 { color: #BAB8B1 } /* Main Secondary color (1) */
.color-secondary-1-1 { color: #F6F6F3 }
.color-secondary-1-2 { color: #D6D5D0 }
.color-secondary-1-3 { color: #A29F95 }
.color-secondary-1-4 { color: #8E8979 }

.color-secondary-2-0 { color: #7B797F } /* Main Secondary color (2) */
.color-secondary-2-1 { color: #A6A6A8 }
.color-secondary-2-2 { color: #8F8E92 }
.color-secondary-2-3 { color: #69666F }
.color-secondary-2-4 { color: #595461 }
