
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body > header, main, #footer {
  width: 100vw;
}

body > header, nav {
  height: 1.2em;
  line-height: 1.2em;
}

nav {
  position: fixed;
  width: 100vw;
  border-bottom: 1px solid #595461;
}

nav, nav > a, #footer, #footer > a {
  background-color: #7B797F;
  color: #F6F6F3;
}

nav > a {
  text-decoration: none;
  float: right;
  padding: 0 5px;
}

nav > a + a {
  border-right: 1px solid #BAB8B1;
}

main {
  padding: 0;
  margin: 0;
}

section, #footer {
  padding: 0 1.2rem;
  clear: both;
}

section > p, section > header {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1.2rem;
}

section > header {
  padding-top: 1.2rem;
  padding-bottom: 0.4rem;
  font-size: 1.6rem;
}

#mission > p, form, ul {
  padding-bottom: 1.2rem;
}

#signup {
  min-height: 100vh;
  line-height: 1rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}

#signup, #endorsements > header {
  text-align: center;
}

#signup header {
  padding-top: 50vh;
  margin-top: -2rem;
}

#signup > p {
  margin: 0;
  padding: 0;
}

#mission {
  background-color: #8C938C;
}

#mission > p, #mission > header {
  background-color: #BAB8B1;
}

ul {
  list-style: none;
  margin: 0 auto;
}

li {
  float: left;
  padding: 0 5px;
}

#endorsements {
}

#endorsements li {
  display: inline;
}

#team li {
  font-size: 0.8rem;
  display: block;
  width: 20vw;
  outline: 2px solid grey; /* DEBUG */
}

#footer {
}

/* Color palette as hex codes */

.color-primary-0 { color: #8C938C } /* Main Primary color */
.color-primary-1 { color: #BFC2C0 }
.color-primary-2 { color: #A4A8A4 }
.color-primary-3 { color: #758076 }
.color-primary-4 { color: #5F7060 }

.color-secondary-1-0 { color: #BAB8B1 } /* Main Secondary color (1) */
.color-secondary-1-1 { color: #F6F6F3 }
.color-secondary-1-2 { color: #D6D5D0 }
.color-secondary-1-3 { color: #A29F95 }
.color-secondary-1-4 { color: #8E8979 }

.color-secondary-2-0 { color: #7B797F } /* Main Secondary color (2) */
.color-secondary-2-1 { color: #A6A6A8 }
.color-secondary-2-2 { color: #8F8E92 }
.color-secondary-2-3 { color: #69666F }
.color-secondary-2-4 { color: #595461 }
