form {
  border-radius: 5px;
  background-color: white;
}

.field {
  margin-left: 1em;
  margin-top: 0.2em;
}

/* Color palette as hex codes */

.color-primary-0 { color: #8C938C } /* Main Primary color */
.color-primary-1 { color: #BFC2C0 }
.color-primary-2 { color: #A4A8A4 }
.color-primary-3 { color: #758076 }
.color-primary-4 { color: #5F7060 }

.color-secondary-1-0 { color: #BAB8B1 } /* Main Secondary color (1) */
.color-secondary-1-1 { color: #F6F6F3 }
.color-secondary-1-2 { color: #D6D5D0 }
.color-secondary-1-3 { color: #A29F95 }
.color-secondary-1-4 { color: #8E8979 }

.color-secondary-2-0 { color: #7B797F } /* Main Secondary color (2) */
.color-secondary-2-1 { color: #A6A6A8 }
.color-secondary-2-2 { color: #8F8E92 }
.color-secondary-2-3 { color: #69666F }
.color-secondary-2-4 { color: #595461 }
